//---COLORS---
//primaries
$black: #000000;
$white: #ffffff;
$grey-dark: #a8a8a8;
$grey-light: #c4c4c4;

//greens
$green-dark: #00704a;
$green-mid: #1fae6c;
$green-light: #8fd6b5;

//reds
$red: #dc4444;
$orange: #ff632a;

//yellow
$yellow: #ffcf01;
