@use '../abstracts/mixins' as mx;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  max-width: 2000px;
}

header {
  grid-column: 1/-1;
  grid-row: 1;
}

.servings_orders {
  grid-column: 1/-1;
  grid-row: 2;
  // padding: 10px 30px;
}

.darkmode-layer {
  z-index: -1;
}

// customer_order
.checkout_beer {
  grid-column: 12/-1;
  grid-row: 2;
}

.products {
  grid-column: 1/-1;
  grid-row: 3;
}
  
@media (min-width: mx.$screen-ipad) {
    header {
      grid-column: 1/2;
      grid-row: 1/12;
    }
  
    .servings_orders {
      grid-column: 2/-1;
      grid-row: 1;
    }

    // customer_order
    .checkout_beer {
      grid-row: 1;
    }

    .products {
      grid-column: 2/-1;
      grid-row: 2;
    }
}
