@use '../abstracts/mixins' as mx;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  max-width: 2000px;
}

header {
  grid-column: 1/-1;
  grid-row: 1;
}

main {
  display: grid;
  grid-column: 1/-1;
  grid-row: 2/2;
  z-index: -1;
  // padding: 10px 30px;
}
  
@media (min-width: mx.$screen-ipad) {
    header {
      grid-column: 1/2;
    }
  
    main {
      grid-column: 2/-1;
      grid-row: 1;
      // same as above
      // padding: 40px;
    }
  }
