@use "../abstracts/variables" as a;
@use "../abstracts/mixins" as mix;

#order_modal {
    display: none;
    position: fixed;
    z-index: 2;
    right: -100%;
    top: 146px;
    width: 100%;
    height: 100%;
    -webkit-animation: slide 1s forwards;
    animation: slide 1s forwards;

    .modal_inner_checkout {
        background-color: a.$white;
        padding: 20px;
    }
}

@-webkit-keyframes slide {
    100% { right: 0; }
}

@keyframes slide {
    100% { right: 0; }
}

@media (min-width: mix.$screen-ipad) {
    #order_modal {
        top: 0;
        width: calc(100% - 294px);;
    }
}