@use "../abstracts/variables" as a;

* {
    font-family: a.$primary-font;
}

button {
    font-weight: a.$font-weight-bold;
    font-family: a.$primary-font;
}

// navigation
nav li button, nav li a {
    font-size: a.$links-nav;
}

h2 {
    font-weight: a.$font-weight-bolder;
    text-transform: uppercase;
    color: a.$black;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        bottom: -10px;
        left: 0;
        width: 80px;
        height: 6px;
        border-radius: 4px;
        background-color: a.$green-dark;
    }
}

// read-more modals
.modal_inner_readmore {
    color: a.$white;
    font-family: a.$primary-font;

    h3 {
        font-size: a.$readmore-h3;
        margin-bottom: 5px;
    }

    h4 {
        font-size: a.$readmore-h4;
        margin: 0;
    }

    p {
        font-size: a.$p;
    }
}

// checkout modal
#order_modal {
    color: a.$black;
    font-family: a.$primary-font;
    font-size: a.$p;

    label {
        font-size: a.$label;
        font-weight: a.$font-weight-bolder;
    }

    p {
        margin: 0;
        font-size: a.$desc-label;
    }
}