// buttons, grab colours and styling from variables
@use '../abstracts/variables' as v;

button {
    outline: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: transparent;
}

.filters button {
    text-transform: capitalize;
    padding: 8px;
    margin: 0 10px 20px 0;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(196,196,196,1);
      -moz-box-shadow: 0px 0px 5px 0px rgba(196,196,196,1);
      box-shadow: 0px 0px 5px 0px rgba(196,196,196,1);

    &:hover {
        background-color: v.$green-dark;
        color: v.$white;
    }

}

button.active_filter, .read_more {
    background-color: v.$green-dark;
    color: v.$white;
}

.read_more {
    padding: 6px 10px;

    &:hover {
        background-color: v.$green-mid;
    }
}