@use "../abstracts/variables" as a;

// example
.container {
  display: grid;
  grid-template-columns: 12fr;
  grid-template-rows: auto;
}

.serving-box {
  grid-column: 1/8;
  grid-row: 1;
}

.chart {
  background-color: black;
  width: 100px;
  height: 100px;
  grid-column: 10/-1;
  grid-row: 1;
}

.serving-box,
.order-box {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: 1fr;
  grid-gap: 2rem;
}

.servings {
  background-color: a.$green-dark;
  color: a.$black;
  display: flex;
  flex-direction: column;
  max-width: 370px;
  font-family: a.$primary-font;
  font-weight: a.$font-weight-bold;
  box-shadow: 5px 5px 15px 5px a.$grey-light;
}

.orders {
  background-color: a.$yellow;
  color: a.$black;
  display: flex;
  flex-direction: column;
  max-width: 370px;
  font-family: a.$primary-font;
  font-weight: a.$font-weight-bold;
  box-shadow: 5px 5px 15px 5px a.$grey-light;
}

.beer-type {
  background-color: a.$white;
  color: a.$black;
  padding: 5px;
  height: 350px;
}

.beer-type li {
  list-style-type: none;
  border-bottom: 0.5px solid a.$grey-light;
}
span {
  padding: 5px;
}

.serving-id,
.serving-time,
.order-time,
.order-id {
  margin-left: 15px;
}

