@use "../abstracts/variables" as a;
@use "../abstracts/mixins" as mix;

form {
  max-width: 500px;

  fieldset {
    border: none;
    padding: 0;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
  }

  .credit_card_details,
  div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    fieldset,
    div > input {
      width: 45%;
    }

    span {
      font-size: 30px;
    }
  }

  input {
    border-radius: 20px;
    border: 1px solid a.$grey-form;
    outline: none;
    padding: 6px;
    margin-top: 5px;

    &:valid {
      border: 1px solid a.$green-dark;
    }

    &:focus, &focus:focus-within {
      background-color: a.$green-queue;
    }

    &:focus:invalid {
      border: 1px solid a.$red;
    }
  }
}

.form-container {
  width: 100%;
  max-width: 600px;
}