@use "../abstracts/variables" as a;

form {
    background-color: a.$green-dark;
    padding: 60px;
    border-radius: 60px;
    max-width: 600px;

    input:valid {
        border: 1px solid green;
    }

    input:focus, input:focus-within {
        background-color: yellow;
    }
}