@use "../abstracts/variables" as a;
@use '../abstracts/mixins' as mx;
.beers {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-template-rows: auto;
  grid-gap: 2rem;
  justify-content: center;

  .card {
    max-width: 300px;
    background-color: a.$white;
    padding: 25px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(196, 196, 196, 1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(196, 196, 196, 1);
    box-shadow: 0px 0px 5px 0px rgba(196, 196, 196, 1);

    h3,
    h4 {
      margin: 4px 0;
    }

    .first_layer {
      margin-bottom: 10px;
    }

    .first_layer,
    .middle_layer {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }

    .second_layer {
      width: 65%;
    }

    .bottom_layer {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
}

@media (min-width: mx.$screen-ipad) {
  .beers {
    justify-content: left;
  }
}
