@use "../abstracts/variables" as a;

#order_modal {
  padding: 20px;
  color: a.$white;
}
.basket-container,
.reminder {
  background-color: a.$green-dark;
  padding: 20px;
  border-radius: 40px;
  margin: 20px 0;

  h2 {
    text-transform: uppercase;
    color: a.$white;
  }

  .cardItem {
    background-color: a.$green-darker;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    border-radius: a.$border-radius;
    -webkit-border-radius: a.$border-radius;
    -moz-border-radius: a.$border-radius;
    -ms-border-radius: a.$border-radius;
    -o-border-radius: a.$border-radius;
  }

  .cardItem img {
    object-fit: cover;
    border-radius: 100%;
    width: 75px;
    height: 75px;
  }

  .beer-card {
    display: flex;
    align-items: center;

    .name_category {
      padding: 0 10px;
    }
  }

  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }

  h6 {
    font-size: 1.1rem;
  }

  .total {
    display: flex;
    justify-content: space-between;
  }
  .total p {
    font-size: 1.2rem;
    font-weight: a.$font-weight-bold;
  }
}

.reminder {
  display: flex;
  align-items: center;

  .iconify {
    color: #ffef2f;
    font-size: 75px;
    width: 100px;
  }
  p {
    font-size: a.$p;
  }
}
